.post_column_1{:style =>"width:#{@attributes[:width]}; float: left; padding: #{@attributes[:padding]} 6% #{@attributes[:padding]} #{@attributes[:padding]}; display: inline;"}= @content

-#[column width="47%" padding="0"] foo [/column]
-# <div class="post_column_1">